.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  /* width: 400px; */
  border: 2px solid red;
  padding: 0.5em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em 0.5em 0.5em 1.5em;
  margin: -0.5em;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: square;
}

.subreport {
  text-align: center;
}

.navigation {
  text-align: center;
	font-weight: bold;
}

.left_navigation {
	text-align: left;
	font-weight: bold;
}

.right_navigation {
	text-align: right;
	font-weight: bold;
}

body {
  font-family: ubuntu, droid sans, verdana, arial, helvetica, sans-serif;
  background-color: #FFEDB3;
	background-image: url('/images/parchment.jpg');
}

a {
	color: #080B74;
}

a:visited {
	color: #8D003B;
}

a:hover {
  color: #ffbe00;
}

#header {
	color: #183B72;
	background-color: #6387C1;
	padding: .25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#footer {
	/* complimentary */
  color: #A67800;
  background-color: #FFCA40;
  text-align: left;
	padding: .25em;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

table {
  padding: .25em;
  border: 1px solid #660BAB;
  margin: auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#first_name
{
	background-color: #4E51D8;
}

td {
	border-top: 1px solid #9440D5;
	border-left: 1px solid #9440D5;
	padding: .15em;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

td.networks {
	vertical-align: top;
}

th {
	color: #41046F;
	background-color: #9440D5;
  text-align: center;
	padding: .15em;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

th.networks {
	vertical-align: top;
  background-color: #FFDB73;
}

tr:nth-child(even) {
  background-color: #BFBB30;
}

tr:nth-child(even) a:hover {
	color: #080B74;
}

h1 {
	color: #183B72;
	background-color: #6387C1;
  font-size: 150%;
  font-weight: bold;
  padding: .25em;
}

h2 {
  color: #977A1D;
  background-color: #FFDF75;
  padding: .15em;
  font-size: 125%;
  font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

h3 {
	color: #FFBE00;
	font-size: 125%;
}

ul {
	list-style-position: inside;
}

.note {
	text-align: left;
}

.pagination {
	text-align: center;
}

